body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.title {
  font-size: 100px;
  border: 5px solid black;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

#scissorBtn,
#paperBtn {
  width: 150px;
  height: 150px;
}
#rockBtn {
  width: 140px;
  height: 140px;
  position: relative;
}

#roundDisplay {
  font-size: 30px;
}

#resultDisplay {
  margin-top: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  margin-top: 10px;
}

#roundDisplay,
#playerDisplay,
#computerDisplay {
  margin-top: 20px;
}

.choice-image {
  cursor: pointer;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.choice-image:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 30px;
}

@keyframes rockAttack {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-50px) translateX(50px);
  } /* Adjust as needed */
  100% {
    transform: translateY(0) translateX(0);
  }
}

.rock.move,
.paper.move,
.scissor.move {
  animation: rockAttack 0.6s ease;
}

.timer {
  color: red;
  font-weight: bolder;
  font-size: 50px;
  margin: 2px;
  width: 70px; /* Fixed width for the timer */
  display: inline-block;
}

.time-description {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.scores {
  display: flex;
  gap: 150px;
  margin: 20px;
  justify-content: center;
}

.player-choice {
  display: flex;
  margin-top: 50px;
  gap: 50px;
  justify-content: center;
}

.player-score,
.computer-score {
  padding: 10px;
}

.health-bar {
  background-color: #e0e0e0;
  border: 2px solid #000;
  border-radius: 10px;
  height: 20px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.health-fill {
  background-color: #080808;
  height: 100%;
  width: 0%; /* Initial full health */
  border-radius: 8px;
}

#resultDisplay {
  margin-top: 70px;
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  border: 3px solid #0b0b0b;
  border-radius: 20px; /* Increased border radius */
  background-color: #eaeaea; /* Slightly darker background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle box-shadow */
  animation: scaleResult 0.3s ease-in-out;
  color: rgb(2, 2, 2);
  width: 40%;
}

.text-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes scaleResult {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.reset-button {
  background-color: #131413;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 10px 0;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #82858270;
  transform: scale(1.05);
}

.reset-button:active {
  background-color: #070707;
  transform: scale(1);
}
